# Louis - Segmenting and Clustering Neighborhoods in Toronto

#### 1. Get the data from the webpage and transform it into a dataframe

In [1]:
import pandas as pd
df=pd.read_html("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")[0]
df.head()

  Postal code           Borough                Neighborhood
0         M1A      Not assigned                         NaN
1         M2A      Not assigned                         NaN
2         M3A        North York                   Parkwoods
3         M4A        North York            Victoria Village
4         M5A  Downtown Toronto  Regent Park / Harbourfront

#### 2. Dropping the rows for which a Borough is not assigned

In [2]:
df = df[df.Borough != 'Not assigned']
df = df.reset_index(drop=True)
df.head()

  Postal code           Borough                                  Neighborhood
0         M3A        North York                                     Parkwoods
1         M4A        North York                              Victoria Village
2         M5A  Downtown Toronto                    Regent Park / Harbourfront
3         M6A        North York             Lawrence Manor / Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park / Ontario Provincial Government

#### Combining rows for Postal codes that have different neighborhoods

In [5]:
df2 = df.groupby(by=['Postal code','Borough']).agg(lambda x: ','.join(x))
df2.reset_index(level=['Postal code','Borough'], inplace=True)
df2.head()

  Postal code      Borough                              Neighborhood
0         M1B  Scarborough                           Malvern / Rouge
1         M1C  Scarborough  Rouge Hill / Port Union / Highland Creek
2         M1E  Scarborough       Guildwood / Morningside / West Hill
3         M1G  Scarborough                                    Woburn
4         M1H  Scarborough                                 Cedarbrae

#### Define Not assigned Neighborhoods to be same as Borough

In [6]:
df3=df2[df2.Borough != 'Not assigned']
df3.head()

  Postal code      Borough                              Neighborhood
0         M1B  Scarborough                           Malvern / Rouge
1         M1C  Scarborough  Rouge Hill / Port Union / Highland Creek
2         M1E  Scarborough       Guildwood / Morningside / West Hill
3         M1G  Scarborough                                    Woburn
4         M1H  Scarborough                                 Cedarbrae

#### Print the number of rows in the dataframe

In [8]:
print(df3.shape[0])

103